.header {
  width: 100%;
  background-color: #FFF;

  position: sticky;
  top: 0;
  z-index: 100;
}

.menu-shadow {
  box-shadow: 1px 1px 4px #888;
}

.header-container {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content {
  display: flex;
  gap: 8px;
  align-items: center;
}

.header-content .btn-menu {
  font-size: 1.3rem;
}

.header-content .btn-emphasis {
  color: var(--color-primary-blue);
  border: 1px var(--color-primary-blue) solid;
}

.header-content ul {
  text-transform: uppercase;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;

}

.header-content ul li a {
  color: #444;
}

.header-content #button-search-icon {
  font-size: 1.3rem;
}